$whitec: #FFF;

.container-home {
  .top-head {
    background-image: url("../img/head_home.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-top: 50px;
    background-image: url("http://sv1.upsieutoc.com/2017/08/03/background.jpg");
    background-size: cover;
    height: 700px;
  }
}

.signin {
  padding-left: 80px;
  height: 700px;
}
